<%- model_class = Good -%>
<div class="page-header">
  <h1>逆风快递</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:receiver_name) %></th>
      <th><%= model_class.human_attribute_name(:receiver_address) %></th>
      <th><%= model_class.human_attribute_name(:receiver_phone) %></th>
      <th><%= model_class.human_attribute_name(:sender_name) %></th>
      <th><%= model_class.human_attribute_name(:sender_address) %></th>
      <th><%= model_class.human_attribute_name(:sender_phone) %></th>
      <th><%= model_class.human_attribute_name(:mass) %></th>
      <th><%= model_class.human_attribute_name(:pay_id) %></th>
      <th><%= model_class.human_attribute_name(:pay_type) %></th>
      <th><%= model_class.human_attribute_name(:who_pay) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= link_to good.id, good_path(good) %></td>
        <td><%= good.receiver_name %></td>
        <td><%= good.receiver_address %></td>
        <td><%= good.receiver_phone %></td>
        <td><%= good.sender_name %></td>
        <td><%= good.sender_address %></td>
        <td><%= good.sender_phone %></td>
        <td><%= good.mass %></td>
        <td><%= good.pay_id %></td>
        <td><%= good.pay_type %></td>
        <td><%= good.who_pay %></td>
        <td><%=l good.created_at %></td>
        <td><%= good.status %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      good_path(good), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_good_path(good), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      good_path(good),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_good_path,
            :class => 'btn btn-primary' %>
