<%- model_class = Good -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:receiver_name) %>:</strong></dt>
  <dd><%= @good.receiver_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:receiver_address) %>:</strong></dt>
  <dd><%= @good.receiver_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:receiver_phone) %>:</strong></dt>
  <dd><%= @good.receiver_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sender_name) %>:</strong></dt>
  <dd><%= @good.sender_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sender_address) %>:</strong></dt>
  <dd><%= @good.sender_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sender_phone) %>:</strong></dt>
  <dd><%= @good.sender_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mass) %>:</strong></dt>
  <dd><%= @good.mass %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pay_id) %>:</strong></dt>
  <dd><%= @good.pay_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pay_type) %>:</strong></dt>
  <dd><%= @good.pay_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:who_pay) %>:</strong></dt>
  <dd><%= @good.who_pay %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              goods_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_good_path(@good), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              good_path(@good),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
